:root{
    --item-width: ;
    --item-width-number: ;
    --img-margin: ; 
    --text-size: ;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    height: 100vh;
    width: 100vw;
}
html {
    background: radial-gradient(ellipse, rgb(6, 118, 6) 0%, rgb(2, 62, 2) 120%);
}

.input-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.flex-column-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: top;
    height: 80vh;
    width: var(--item-width);
    margin: 1%;
    max-width: 15%;
}

.flex-row-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 90%;
    margin: 0;
    flex-flow: row nowrap;
}

.img{
    width: 100%;
    margin-bottom: -132%;
    max-width: 100%;
    margin-bottom: -130%;
    border-radius: 5%;
    -webkit-box-shadow: 0px -3px 15px 0px rgba(0, 66, 12,0.5); 
    box-shadow: 0px -3px 15px 0px rgba(0, 66, 12, 0.5);
    /* transition: transform 2s; */
}

#svg{
    font-size: 50px;
    aspect-ratio: 1/1;
}

.text{
    fill: green;
}

#submit, button{
    padding:7px;
    margin: 5px;
    border: 2px solid rgb(2, 62, 2);
    border-radius: 5px;

    box-shadow: 0px -3px 15px 0px rgba(0, 66, 12, 0.5);
}

.bottom-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    width: 100wv;
    height: 5vh;
    gap: 5vw;
}

.slider{
    height: 5vh;
    outline: none;
    background: #ca1616;
    cursor: pointer;
}

#speed{
    width: 15vw;
}

#move{
    width: 30vw;
}

button:hover{
    cursor: pointer;
}

button:active{
    transform: scale(0.9, 0.9);
}

.pause-button{
    aspect-ratio: 1/1;
    height: 5vh;
    background-color: transparent;

    padding:0;
    border:0;
    margin:0;

    box-shadow: none;
}

.pause-image{
    aspect-ratio: 1/1;
    height: 5vh;
}

.rewind-button{
    aspect-ratio: 1/1;
    height: 5vh;
    background-color: transparent;

    padding:0;
    border:0;
    margin:0;

    box-shadow: none;
}

.rewind-image{
    aspect-ratio: 1/1;
    height: 5vh;
}

.fastforward-button{
    aspect-ratio: 632/395;
    height: 5vh;
    background-color: transparent;

    padding: 0;
    border: 0;
    margin: 0;

    box-shadow: none;
}

.fastforward-image{
    aspect-ratio: 632/395;
    height: 5vh;
}